@model ShoppingStore.WebUI.Models.CartIndexViewModel

@{ 
    ViewBag.Tittle = "Your Cart";
        }
<style>
    #CartTable td{
        vertical-align:middle;
    }
</style>
<h2>Your Cart</h2>
<table id ="CartTable" class="table">
    <thead>
        <th>Quantity</th>
        <th>Item</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </thead>
    <tbody>
        @foreach(var p in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@p.Quantity</td>
            <td class="text-left">@p.Product.Name</td>
            <td class="text-right">@p.Product.Price.ToString("c")</td>
            <td class="text-right">@((p.Product.Price*p.Quantity).ToString("c"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart","Cart"))
                {
                    @Html.Hidden("ProductId", p.Product.ProductId);
                    @Html.HiddenFor(x => x.ReturnUrl);
                    <input class="btn btn-danger btn-sm" type="submit" value="Remove"/>
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary text-light" href="@Model.ReturnUrl">
        Continue Shopping
    </a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary"})
</div>